.d-grid a {
  text-decoration: none; /* Remove underline */
  color: black; /* Change color to black */
}

.bootcamp-explore-button {
  border-radius: 0px !important;
}

.cbs-main-div {
  overflow-x: hidden !important; /* Prevent horizontal overflow */
}
